<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main</title>


    <style>
        td {
            text-align: center;
            padding: 10px;
        }
        th {
            padding: 10px;
        }
        span {
            padding: 10px;
        }
        body {
            background-color: lightblue;
        }
    </style>
</head>
<body>
<h1>Forecast: </h1>
<h2>Insert number of Cities </h2>

<form action="/forecast" method="post">
    <input type="number" name="number">

</form>

</body>
</html>